In [51]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime as dt
import scipy as stats

# Reflect Tables into SQLAlchemy ORM

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, distinct

In [3]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [4]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [5]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [6]:
# Save references to each table
measurement= Base.classes.measurement

In [7]:
station= Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session= Session(engine)
func.avg(measurement.tobs)

#  Bonus: Other Recommend Analyses

### Temperature Analysis I

#### Hawaii is reputed to enjoy mild weather all year.  Is there a meaningul difference between the temperature in, for example, June and December?

In [9]:
#So...I could only figure out the long way.  18 queries to produce June and December for seven years worth of data.

In [10]:
# June temperatures observations 
june_station_1 = session.query(func.avg(measurement.tobs)).\
    filter(measurement.station == 'USC00519281').\
    filter(measurement.date > '2010-05-31').\
    filter(measurement.date <'2010-07-01').first()
june_station_1

(73.63333333333334)

In [11]:
june_station_2 = session.query(func.avg(measurement.tobs)).\
    filter(measurement.station == 'USC00519397').\
    filter(measurement.date > '2010-05-31').\
    filter(measurement.date <'2010-07-01').first()
june_station_2

(77.76666666666667)

In [12]:
june_station_3 = session.query(func.avg(measurement.tobs)).\
    filter(measurement.station == 'USC00513117').\
    filter(measurement.date > '2010-05-31').\
    filter(measurement.date <'2010-07-01').first()
june_station_3

(74.8)

In [38]:
june_station_4 = session.query(func.avg(measurement.tobs)).\
    filter(measurement.station == 'USC00519523').\
    filter(measurement.date > '2010-05-31').\
    filter(measurement.date <'2010-07-01').first()
june_station_4

(76.17241379310344)

In [14]:
june_station_5 = session.query(func.avg(measurement.tobs)).\
    filter(measurement.station == 'USC00516128').\
    filter(measurement.date > '2010-05-31').\
    filter(measurement.date <'2010-07-01').first()
june_station_5

(72.86363636363636)

In [15]:
june_station_6 = session.query(func.avg(measurement.tobs)).\
    filter(measurement.station == 'USC00516128').\
    filter(measurement.date > '2010-05-31').\
    filter(measurement.date <'2010-07-01').first()
june_station_6

(72.86363636363636)

In [16]:
june_station_7 = session.query(func.avg(measurement.tobs)).\
    filter(measurement.station == 'USC00516128').\
    filter(measurement.date > '2010-05-31').\
    filter(measurement.date <'2010-07-01').first()
june_station_7

(72.86363636363636)

In [17]:
june_station_8 = session.query(func.avg(measurement.tobs)).\
    filter(measurement.station == 'USC00516128').\
    filter(measurement.date > '2010-05-31').\
    filter(measurement.date <'2010-07-01').first()
june_station_8

(72.86363636363636)

In [18]:
june_station_9 = session.query(func.avg(measurement.tobs)).\
    filter(measurement.station == 'USC00516128').\
    filter(measurement.date > '2010-05-31').\
    filter(measurement.date <'2010-07-01').first()
june_station_9

(72.86363636363636)

In [19]:
# December temperatures observations 

december_station_1 = session.query(func.avg(measurement.tobs)).\
    filter(measurement.station == 'USC00519281').\
    filter(measurement.date > '2010-11-30').\
    filter(measurement.date <'2011-01-01').first()
december_station_1

(69.0)

In [20]:
december_station_2 = session.query(func.avg(measurement.tobs)).\
    filter(measurement.station == 'USC00519397').\
    filter(measurement.date > '2010-11-30').\
    filter(measurement.date <'2011-01-01').first()
december_station_2

(70.64)

In [21]:
december_station_3 = session.query(func.avg(measurement.tobs)).\
    filter(measurement.station == 'USC00513117').\
    filter(measurement.date > '2010-11-30').\
    filter(measurement.date <'2011-01-01').first()
december_station_3

(70.96774193548387)

In [42]:
december_station_4 = session.query(func.avg(measurement.tobs)).\
    filter(measurement.station == 'USC00519523').\
    filter(measurement.date > '2010-11-30').\
    filter(measurement.date <'2011-01-01').first()
december_station_4

(71.61290322580645)

In [23]:
december_station_5 = session.query(func.avg(measurement.tobs)).\
    filter(measurement.station == 'USC00516128').\
    filter(measurement.date > '2010-11-30').\
    filter(measurement.date <'2011-01-01').first()
december_station_5

(69.48387096774194)

In [24]:
december_station_6 = session.query(func.avg(measurement.tobs)).\
    filter(measurement.station == 'USC00516128').\
    filter(measurement.date > '2010-11-30').\
    filter(measurement.date <'2011-01-01').first()
december_station_6

(69.48387096774194)

In [25]:
december_station_7 = session.query(func.avg(measurement.tobs)).\
    filter(measurement.station == 'USC00516128').\
    filter(measurement.date > '2010-11-30').\
    filter(measurement.date <'2011-01-01').first()
december_station_7

(69.48387096774194)

In [26]:
december_station_8 = session.query(func.avg(measurement.tobs)).\
    filter(measurement.station == 'USC00516128').\
    filter(measurement.date > '2010-11-30').\
    filter(measurement.date <'2011-01-01').first()
december_station_8

(69.48387096774194)

In [27]:
december_station_9 = session.query(func.avg(measurement.tobs)).\
    filter(measurement.station == 'USC00516128').\
    filter(measurement.date > '2010-05-31').\
    filter(measurement.date <'2010-07-01').first()
december_station_9

(72.86363636363636)

In [39]:
trying_june = [temps for temps in zip(june_station_1,june_station_2,june_station_3,june_station_4,june_station_5,june_station_6,june_station_7,june_station_8,june_station_9)]
print(trying_june)

[(73.63333333333334, 77.76666666666667, 74.8, 76.17241379310344, 72.86363636363636, 72.86363636363636, 72.86363636363636, 72.86363636363636, 72.86363636363636)]

In [40]:
june_months = np.mean(trying_june)
june_months

74.07673284569836

In [43]:
trying_dec = [temps for temps in zip(december_station_1,december_station_2,december_station_3,december_station_4,december_station_5,december_station_6,december_station_7,december_station_8,december_station_9)]
print(trying_dec)

[(69.0, 70.64, 70.96774193548387, 71.61290322580645, 69.48387096774194, 69.48387096774194, 69.48387096774194, 69.48387096774194, 72.86363636363636)]

In [44]:
december_months = np.mean(trying_dec)
december_months

70.33552948843271

In [57]:
# T-test to determine if there is a significant difference between the temperatures in June and December.
temp_ttest= stats(june_months,december_months)

TypeError: 'module' object is not callable

In [ ]:
stats.ttest_ind(rvs1, rvs3)

### Temperatrue Analysis II